.loading-map{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    color: white;
}

.search-container{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    z-index: 999;
    width: 250px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

/* Para indicarle al usuario que puede hacer click en el cuadro del lugar que se muestra al buscar  */
.pointer {
    cursor: pointer;
}